#add {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-image: url('../icons/add.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-cursor: hand;
}

#add:hover {
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}